
<div class="container-fluid ">
    <br>
  <h2>Orders</h2>
  <br>
  <table class="table table-hover">
      <th>
          <td>
              <b>Product Name</b>
          </td>
          <td>
              <b>Product Price</b>
          </td>
          <td>
              <b>Product Description</b>
          </td>
          <td>
              <b>User Name</b>
          </td>
          <td>
              <b>Email</b>
          </td>
          <td>
              <b>User location</b>
          </td>
          <td>
              <b>User Address</b>
          </td>
          <td>
              <b>Product Address</b>
          </td>
          <td>
              <b>Delivery person</b>
          </td>
          <td>
             <b>order status</b>
          </td>
          <td>
            
          </td>


      </th>
      {{#each orders}}
        <tr>
            <td>
                <div class="bg-image hover-overlay ripple">
                    <img src="/product-images/{{this.cartdetails.[0].productdetails.[0]._id}}.jpg" class="img-fluid" width="50" height="50 " />
                    <a href="#!">
                        <div class="mask" style="background-color: rgba(57, 192, 237, 0.2);"></div>
                    </a>
                </div>
            </td>
            <td>
                {{this.cartdetails.[0].productdetails.[0].productname}}
            </td>
            <td>
                {{this.cartdetails.[0].productdetails.[0].productprice}}
            </td>
            <td>
                {{this.cartdetails.[0].productdetails.[0].productdesc}}
            </td>
            <td>
               {{this.cartdetails.[0].userdetails.[0].name}}
            </td>
            <td>
               {{this.cartdetails.[0].userdetails.[0].email}}
            </td>
            <td>
               {{this.cartdetails.[0].userdetails.[0].location}}
            </td>
            <td>
               {{this.cartdetails.[0].userdetails.[0].address}}
            </td>
            <td>
                {{this.cartdetails.[0].productdetails.[0].address}}
            </td>
            <td>
                    <select name="" id="">
                        <option value="">-choose-</option>
                         {{#each delivery}}
                            <h3>{{this.name}}</h3>
                        {{/each}}
                    </select>
            </td>
            <td>
                <b>{{this.orderstatus}}</b>
            </td>
            <td>
                 <button class="btn btn-dark">Assign</button>
            </td>
        </tr>
      {{/each}}
  </table>
 


 </div>